---
layout: ""
page_title: "Provider: SparkPost"
description: |-
  The SparkPost provider provides resources to interact with the SparkPost API.
---

# SparkPost Provider

The SparkPost provider provides resources to interact with the SparkPost API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
